<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <body
    style="
      margin: 0;
      line-height: normal;
      font-family: Poppins, Arial, sans-serif;
    "
  >
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="max-width: 600px; margin: 0 auto; background-color: #fff"
    >
      <tr>
        <td
          style="
            background: linear-gradient(90deg, #d1e3e7, #cbe0e5);
            padding: 20px;
            text-align: center;
          "
        >
          <img
            src="cid:reindeer-logo"
            alt=""
            style="width: 150px; height: 150px"
          />
          <h1 style="color: #258a86; font-size: 36px; margin-top: 20px">
            Reindeer Roundup
          </h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; text-align: center;">
          <p style="font-size: 24px; margin-bottom: 32px">
            Hi <span id="user-name">{Name}</span>, <br />
            For <span id="org-name">{Roundup Name}</span><br />
            Exchange On <span id="date">{Date}</span>
          </p>
          <p style="margin-bottom: 0px; font-size: 20px;">You need a gift for:</p>
          <p
            style="
              display: inline-block;
              padding: 10px 20px;
              background-color: #4bb4ad;
              color: #fff;
              text-decoration: none;
              border-radius: 16px;
              font-size: 24px;
            "
          >
            <span id="receiver-name">{Reviever}</span>
          </p>
          <p style="font-size: 24px; margin-bottom: 16px" id="title">
            Merry Christmas!
          </p>
        </td>
      </tr>
      <td style="background-color: #cce1e6; padding: 16px; text-align: center">
        <p style="font-size: 11px; margin-bottom: 24px">
          All rights reserved. © Reindeer Roundup 2024
        </p>
        <p style="font-size: 12px">
          <a
            href="http://localhost:3000/"
            style="color: #000; text-decoration: none"
            >Reindeer Roundup</a
          >
          |
          <a
            href="http://localhost:3000/about"
            style="color: #000; text-decoration: none"
            >About</a
          >
          |
          <a
            href="http://localhost:3000/how-it-works"
            style="color: #000; text-decoration: none"
            >How It Works</a
          >
          |
          <a
            href="http://localhost:3000/sign-up"
            style="color: #000; text-decoration: none"
            >Sign Up</a
          >
        </p>
      </td>
    </table>
  </body>
</html>
