<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap"
    />
  </head>
  <body style="margin: 0; line-height: normal; font-family: Poppins, Arial, sans-serif">
    <table
      cellpadding="0"
      cellspacing="0"
      border="0"
      width="100%"
      style="max-width: 600px; margin: 0 auto; background-color: #fff"
    >
      <tr>
        <td
          style="
            background: linear-gradient(90deg, #d1e3e7, #cbe0e5);
            padding: 20px;
            text-align: center;
          "
        >
          <img
            src="cid:reindeer-logo"
            alt=""
            style="width: 150px; height: 150px"
          />
          <h1 style="color: #258a86; font-size: 36px; margin-top: 20px">
            Reindeer Roundup
          </h1>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; text-align: center">
          <p
            style="
              font-size: 16px;
              text-align: left;
              max-width: 400px;
              margin: 0 auto;
            "
            id="message"
          >
          We received a request to reset your password for Reindeer Roundup. If you didn't request this, you can ignore this email. <br />
          To reset your password, simply click the button below:
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; text-align: center">
          <a
            href="http://localhost:3000/reset"
            style="
              display: inline-block;
              padding: 10px 20px;
              background-color: #4bb4ad;
              color: #fff;
              text-decoration: none;
              border-radius: 16px;
              margin-right: 16px;
            "
            id="password"
            >Reset Password</a
          >
        </td>
      </tr>
      <tr>
        <td
          style="background-color: #cce1e6; padding: 16px; text-align: center"
        >
          <p style="font-size: 11px; margin-bottom: 24px">
            All rights reserved. © Reindeer Roundup 2024
          </p>
          <p style="font-size: 12px">
            <a
              href="https://reindeer-roundup.com/"
              style="color: #000; text-decoration: none"
              >Reindeer Roundup</a
            >
            |
            <a
              href="https://reindeer-roundup.com/about"
              style="color: #000; text-decoration: none"
              >About</a
            >
            |
            <a
              href="https://reindeer-roundup.com/howItWorks"
              style="color: #000; text-decoration: none"
              >How It Works</a
            >
            |
            <a
              href="https://reindeer-roundup.com/signIn"
              style="color: #000; text-decoration: none"
              >Sign Up</a
            >
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>
